*{
    margin: 0;
    padding: 0;
}
.navul{
    display: flex;
    background-color: rgb(59, 53, 47);
    /* background-color: rgba(5, 5, 255, 0.264); */
    right: 1px;
    left: 2.67;
    left: 5.67;
    left: 1px;
    top:5px;
    /* border-radius: 5px; */
    position: fixed;
    height: 61px;
    /* box-shadow: 5px 5px 5px 5px rgba(5, 5, 255, 0.264); */

}

.listitems{
    display: flex;
}

.bgcrlcolor{
    background-color: rgba(5, 151, 255, 0.127);
}
.navli{
    list-style: none;
    padding: 14px 8px 21px 52px;
    
}
.nava{
    text-decoration: none;
    color: rgba(235, 244, 245, 0.973);
    font-size: 24px;
}
.nava:hover{
    color: aqua;
    font-size: 25px;
}

.logoimg{
    width: 50px;
    height: 50px;
    padding: 5px 4px 12px 22px ;

}
.navh1{
    text-align: center;
    padding-top: 90px;
}



.footh2,.footh4{
    text-align: center;
    color: aliceblue;
    
}
.ownerimg{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 40px;
    
}
.linkedin{
    border:2px solid rgba(15, 39, 221, 0.594);
   border-radius: 5%;
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-right: 50px;

}
.github{
    border:2px solid rgba(0, 0, 0, 0.715);
   border-radius: 5%;
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 50px;

}
.footerflex{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.798);
    margin-bottom: 10px;
    padding-bottom: 50px;
    margin-top: 50px;
}
@media screen and (max-width:415px){

    .navul{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100px;
        background-color: rgb(59, 53, 47);
      
    }
    .nava{
        color: rgba(223, 235, 237, 0.973);
    }
    
    .logoimg{
        flex-direction: column;
        margin-left: 15px;
    }
   
    .listitems{
        flex-direction: column;
        background-color: rgba(53, 59, 59, 0.875);
    }
    .navh1{
        opacity: 1;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 20px;
    }
    .navli{
        
        padding: 20px 58px 21px 52px;
    }
    .logoimg {
        width: 87px;
        height: 100px;
        padding: 5px 0px 13px 0px;
    } 
    #burger{
        margin-left:80%;
        margin-top: 32px;
        position: absolute;
        cursor: pointer;
        float:right;
    
    }
    .line{
        width: 33px;
        height: 5px;
        background-color: aliceblue;
        margin: 3px 3px ;
    }
    .alldlt{
        display: none;
    }







    
.ownerimg{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 40px;
    
}
.linkedin{
    border:2px solid rgba(15, 39, 221, 0.594);
   border-radius: 5%;
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-right: 0px;

}
.github{
    border:2px solid rgba(0, 0, 0, 0.715);
   border-radius: 5%;
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 0px;

}
.footerflex{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.798);
    margin-bottom: 10px;
    padding-bottom: 50px;
}
    
}
@media screen and (min-width:416px)and (max-width:1000px) {

    .navul{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100px;
        background-color: rgb(59, 53, 47);
        
        
      
    }
    .nava{
        color: rgba(223, 235, 237, 0.973);
    }
    
    .logoimg{
        flex-direction: column;
        margin-left: 15px;
    }
    #crlh1{
        border-radius: 5px;
        width:100%;
        height: 400px;
        margin-bottom: 22px;
        margin-top: 110px;
        background-size: 100% 100%;
    }
    .listitems{
        flex-direction: column;
        background-color: rgba(53, 59, 59, 0.875);
    }
    
    .navh1{
        opacity: 1;
        margin-top: 20px;

    }
    .navli{
        transition: all 0.7s ease-out; 
        padding: 20px 58px 21px 52px;
        
    }
  
    .logoimg {
        width: 87px;
        height: 100px;
        padding: 5px 0px 13px 0px;
        margin-bottom: 0;
    } 
    #burger{
        margin-left:85%;
        margin-top: 32px;
        position: absolute;
        cursor: pointer;
        float:right;
    }
    .line{
        width: 35px;
        height: 3px;
        background-color: aliceblue;
        margin: 3px 3px ;
    }
    .alldlt{
        display: none;
    }







    
    
    
    

}

